<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/baseTemplate.css">
    <link rel="shortcut icon" href="..\static\images\favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joketle</title>
</head>
<body>
    <div id="Background">
    <nav id="NavBar">
        <a id="Home" href="{% url 'home' %}"> 
        <img src="../static/images/Logo.png" alt="Balatro Logo" id="Logo">
        </a>
        <a id="Play" href="{% url 'play' %}"> <p> Play </p> </a>
        <a id="Leaderboards"> <p> Leaderboards </p> </a>
        
        <a id="Register"> <p> Register </p> </a>
        <a id="Login"> <p> Login </p> </a>
    </nav>    
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>